@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To FizzBizz for Best Buy</h1>
    
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>Input</th>
                <th>Result</th>
            </tr>
        </thead>
        @{int testDataIndex = 0; }

        @foreach (List<string> s in Model.fizzbuzzresults)
        {
            <tr>
                <td rowspan=@s.Count>@Model.testValues[testDataIndex++]</td>
                @{int newRow = 0;}
                @foreach (string item in s)
                {
                    if (newRow > 0)
                        {
                            @:</tr><tr>
                        }
                    <td>@item</td>
                    newRow++;
                }
            </tr>
        }

    </table>
</div>
